@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-WhiteA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEdu_OTFLightA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    font:'Pretendard-Regular';
}

html,body{
    margin:0;
    padding:0;
}


img{
    vertical-align: middle;
}

.title {
    font-family: 'GangwonEdu_OTFLightA';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

p {
    font-family: 'Pretendard-Regular';
}

body {
    position: relative;
}



body header .header {
    width: 140px;
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 100;
    background-color: #8563E7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    vertical-align: middle;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

body header .header>a {
    width: 60%;
    margin: 50px auto;
    animation: rot 4s infinite cubic-bezier(0.51, 0.57, 0.79, 0.75);
}

@keyframes rot {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(90deg)}
    50% {transform: rotate(180deg)}
    75% {transform: rotate(270deg)}
    100% {transform: rotate(360deg)}
}

body header .header>a>img {
    width: 100%;
}

body header .header>a:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

body header .header .indi {
    width: 60%;
    margin: 50px auto;
    padding-bottom: 30px;
}

body header .header .indi>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

body header .header .indi>ul>li {
    width: 100%;
}

body header .header .indi>ul>li>a {
    /* border:1px solid white; */
    width: 100%;
}

body header .header .indi>ul>li>a>svg {
    /* border:1px solid white; */
    width: 100%;
    margin-bottom: 30px;
}

.indi>ul>li>a>svg::after{
    /* display:inline; */
    border-right:5px solid white;
    margin-left:5px;
    display:none;
    transition: 0.5s;
}

body header .header .indi > ul > li.here > a > svg::after {
    display:inline;
}

body header .header>.question {
    width: 50px;
    margin: 50px auto;
    height: 50px;
    background-color: #FFEC88;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    /* padding-top: 5%; */
}

body header .header>.question>p {
    padding: 10px 0;
    font-size: 1.2em;
}

.pop {
    position: fixed;
    top: 100%;
    left: 45px;
    z-index: 105;
    /* display: none; */
}

.pop>.ans {
    width:400px;
    height:100px;
    display:inline-block;
    padding: 15px 20px 20px;
    background-color: #FFEC88;
    border-radius: 30px;
    font-size: 1em;
    line-height: 1.2;
}

.pop.active {
    display: block;
}


body>main {
    margin-left: 140px;
}

body>main>.top {
    font-weight:bold;
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    vertical-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #E8E5FF;
    background-color: white;
}

body>main>.top>.resume {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    vertical-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body>main>.top>.resume>svg {
    width: 8%;
}

body>main>.top>.resume>p {
    width: 90%;
    text-align: right;
    font-size: 1em;
    color: #979797;
    padding-top: 2px;
}

body>main>.top>.me {
    width: 10%;
    margin-right: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    vertical-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body>main>.top>.me>p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    vertical-align: center;
    margin-right: 30px;
}

body>main>.top>.me>p>span {
    font-size: 15px;
}

body>main>.top>.me>img {
    width: 30%;
}