@import url("./common.css");
html {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#7E5AC7, #E8DED3);
  background-size: 100%;
  background-repeat: no-repeat;
}
html body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  overflow: hidden;
}
html body header .header {
  width: 140px;
  height: 100vh;
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 100;
  background-color: #8563E7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  transition: 0.5s;
}
html body header .header > a {
  width: 60%;
  margin: 50px auto;
  -webkit-animation: rot 2s infinite cubic-bezier(0.51, 0.57, 0.79, 0.75);
          animation: rot 2s infinite cubic-bezier(0.51, 0.57, 0.79, 0.75);
}
html body header .header > a > img {
  width: 100%;
}
html body header .header > a:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
html body header .header .indi {
  width: 60%;
  margin: 50px auto;
  padding-bottom: 30px;
}
html body header .header .indi > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html body header .header .indi > ul > li {
  width: 100%;
}
html body header .header .indi > ul > li > a {
  width: 100%;
}
html body header .header .indi > ul > li > a > svg {
  width: 100%;
  margin-bottom: 30px;
}
html body header .header .indi > ul > li > a > svg.active {
  stroke: black;
}
html body header .header > .question {
  width: 50px;
  margin: 50px auto;
  height: 50px;
  background-color: #FFEC88;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
  padding-top: 5.5%;
}
html body header .header > .question > p {
  padding-top: 10px;
  font-size: 1.2em;
}
html body > .pop {
  position: fixed;
  top: 80%;
  left: 8%;
  z-index: 105;
  display: none;
}
html body > .pop > .ans {
  padding: 15px 20px 30px;
  background-color: #FFEC88;
  border-radius: 30px;
  font-size: 12px;
  line-height: 1.2;
  width: 350px;
  height: 70px;
}
html body > .pop.active {
  display: block;
}
html body main {
  width: 80%;
  margin-top: 100px;
  margin-left: 200px;
  position: relative;
}
html body main > .text {
  margin-top: 50px;
  margin-left: 100px;
}
html body main > .text > p.top {
  font-size: 4em;
  color: white;
  font-weight: bold;
  white-space: pre-line;
}
html body main > .text > p.ex {
  margin-top: 40px;
  font-size: 1.2em;
  line-height: 1.2;
  color: white;
  white-space: pre-line;
}
html body main > .contact {
  width: 15%;
  margin-top: 100px;
  margin-left: 150px;
  text-align: center;
}
html body main > .contact > p {
  width: 70%;
  background-color: #FFEC88;
  border-radius: 30px;
  font-size: 1.3em;
  padding: 10px 5px 8px;
  color: black;
  transition: 0.2s;
}
html body main > .contact > p:hover {
  background-color: white;
  color: #7E5AC7;
}
html body main > .contact > .down {
  margin-top: 40px;
}
html body main > .contact > .down > ul {
  width: 90%;
  height: 200px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html body main > .contact > .down > ul > li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
html body main > .contact > .down > ul > li > svg {
  width: 45%;
  transform: translateX(-10px);
}
html body main > .contact > .down > ul > li > img {
  width: 20%;
}
html body main > .contact > .down > ul > li > p {
  padding-top: 15px;
  width: 70%;
  font-size: 1em;
}
html body main > .contact > .down > ul > li:nth-of-type(1) > p {
  transform: translateX(-42px);
}
html body main > .contact > .down > ul > li:nth-of-type(2) > img {
  margin-left: 12px;
  width: 17%;
}
html body main > .contact > .down > ul > li:nth-of-type(3) > img {
  margin-left: 12px;
  padding-top: 5px;
  width: 20%;
}
html body main > .contact > .down > ul > li:nth-of-type(3) > p {
  transform: translateX(-18px);
}
html body main > .illust {
  width: 40%;
  position: fixed;
  top: 25%;
  left: 55%;
  z-index: 10;
}
html body main > .illust > img {
  width: 70%;
}/*# sourceMappingURL=contactme.css.map */