@import url('./common.css');

@keyframes rot {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(90deg)
    }

    50% {
        transform: rotate(180deg)
    }

    75% {
        transform: rotate(270deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    100% {
        opacity: 100%;
        transform: translateX(0px)
    }
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes right{
    0%{transform:translateX(-100%);}
    100%{transform:translateX(0);}
}


body {
    position: relative;

    >main {

        >.introduce {
            width: 100%;
            display: flex;
            justify-content: space-between;

            >.left {
                width: 30%;
                background-color: #E8E5FF;


                >.left_bg {
                    width: 100%;
                    height: fit-content;
                    // padding-bottom: 50px;
                    // background-color: #E8E5FF;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    vertical-align: center;
                    position: sticky;
                    top: 40px;

                    >h2 {
                        padding: 70px 0 50px;
                    }

                    >img {
                        width: 40%;
                        margin: 0 auto 10px;
                    }

                    >.profile {
                        width: 65%;
                        margin: 30px auto 0;
                        display: flex;
                        justify-content: flex-start;
                        text-align: left;
                        font-size: 0.9em;

                        >ul.q {
                            padding-left: 40px;
                            width: 39%;

                            >li {
                                margin: 5px;

                                >p {
                                    padding: 5px;
                                    font-size: 1.2em;
                                    text-align: center;
                                }
                            }

                            >li:last-child {
                                padding-top: 3em;
                            }
                        }

                        >ul.a {
                            width: 61%;

                            >li {
                                margin: 5px;

                                >p {
                                    padding: 5px;
                                    font-size: 1.2em;
                                }
                            }

                            >li:nth-of-type(4) {
                                >p {
                                    white-space: pre-line;
                                    line-height: 1.3;
                                }
                            }

                            >li:nth-of-type(5) {
                                >p {
                                    white-space: pre-line;
                                    line-height: 1.3;
                                }
                            }
                        }
                    }

                    >.marq {
                        overflow: hidden;
                        width: 50%;
                        margin: 10px auto 30px;
                        height: 150px;

                        >p {
                            text-align: left;
                            display:inline-block;
                            width: 100%;
                            height: 100%;
                            margin: 10px auto 30px;
                            white-space: pre-line;
                            font-size: 40px;
                            font-weight: 500;
                            color: rgba(0, 0, 0, 0.3);
                            animation: right 0.8s forwards ease-in-out;
                        }
                    }
                }
            }

            >.right {
                margin: 80px auto;
                width: 70%;
                text-align: center;

                >.tit {
                    width: 35%;
                    margin: 0px 0px 50px;
                    margin-left: 50px;
                    display: flex;
                    justify-content: center;
                    vertical-align: center;
                    align-items: center;

                    >.title {
                        text-align: right;
                        width: 80%;
                        margin: 10px auto;
                        font-size: 25px;
                    }

                    >svg {
                        padding-top: 5px;
                        width: 20%;
                    }
                }

                >.ex {
                    // border: 1px solid crimson;
                    width: 70%;
                    margin: 0 auto;
                    text-align: left;

                    >div {
                        // border: 1px solid black;
                        width: 50%;
                        height: 230px;
                        position: relative;
                        text-align: center;
                        margin-bottom: 30px;
                        opacity: 0;
                        animation: appear 0.5s forwards ease-in-out;
                        transition: 0.5s;
                        // background-image: url('../img/box_light.svg');
                        // background-size:80%;
                        // background-repeat: no-repeat;

                        >img.icon {
                            width: 12%;
                            position: absolute;
                            left: 28%;
                            top: -5%;
                            z-index: 104;

                        }

                        >img.box {
                            width: 70%;
                            position: absolute;
                            left: 15%;
                            top: 5%;
                            z-index: 103;

                        }

                        >.text {
                            width: 80%;
                            height: 180px;
                            position: absolute;
                            left: 10%;
                            top: 12%;
                            z-index: 104;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;

                            >b {
                                font-size: 1.3em;
                                font-weight: bold;
                            }

                            >p {
                                padding-top: 10px;
                                font-size: 1em;
                                line-height: 1.3;

                            }
                        }

                        >.hover {
                            // border: 1px solid blue;
                            position: absolute;
                            left: 100%;
                            top: 5%;
                            width: 100%;
                            height: fit-content;
                            border-radius: 30px;
                            background-color: rgba(255, 236, 136, 1);
                            z-index: 105;
                            display: none;
                            opacity: 0;

                            &.active {
                                animation: up 0.3s forwards ease-in-out;
                                display: inline-block;
                                opacity: 100%;

                                >ul{
                                    width:100%;
                                    height:80%;
                                    margin:auto;
                                    padding:40px;
                                    // padding-top:40px;
                                    display:flex;
                                    flex-direction:column;
                                    justify-content: space-around;
                                    vertical-align: center;
                                    align-items: center;
                                    list-style-type:none;

                                    >li{
                                        font-size:1em;
                                        margin-top:10px;
                                        color: rgb(56, 56, 56);
                                    }
                                }
                            }
                        }
                    }

                    >div.one {
                        >img.icon {
                            width: 10%;
                            padding-right: 3px;
                        }
                    }

                    >div.two {
                        animation-delay: 0.2s;

                        >img.icon {
                            width: 10%;
                            padding-right: 4px;
                        }
                    }

                    >div.three {
                        animation-delay: 0.4s;

                        >img.icon {
                            width: 11%;
                            margin-right: 5px;
                        }
                    }

                    >div.four {
                        animation-delay: 0.6s;

                        >img.icon {
                            width: 10%;
                            margin-right: 5px;
                        }
                    }
                }
            }

            >a {
                width: 100px;
                text-align: center;
                text-decoration: none;
                color: black;
                font-size: 1.3em;
                font-weight: bold;
                display: inline-block;
                position: fixed;
                bottom: 10%;
                right: 8%;
                z-index: 300;
                transition: 0.5s;

                &:hover {
                    color: white;
                    background-color: #3d2486;
                    opacity: 70%;
                }
            }
        }
    }
}