@import url("./common.css");
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}
@keyframes up {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
body {
  position: relative;
}
body > main > .introduce {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body > main > .introduce > .left {
  width: 30%;
  background-color: #E8E5FF;
}
body > main > .introduce > .left > .left_bg {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  vertical-align: center;
  position: sticky;
  top: 40px;
}
body > main > .introduce > .left > .left_bg > h2 {
  padding: 70px 0 50px;
}
body > main > .introduce > .left > .left_bg > img {
  width: 40%;
  margin: 0 auto 10px;
}
body > main > .introduce > .left > .left_bg > .profile {
  width: 65%;
  margin: 30px auto 0;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-size: 0.9em;
}
body > main > .introduce > .left > .left_bg > .profile > ul.q {
  padding-left: 40px;
  width: 39%;
}
body > main > .introduce > .left > .left_bg > .profile > ul.q > li {
  margin: 5px;
}
body > main > .introduce > .left > .left_bg > .profile > ul.q > li > p {
  padding: 5px;
  font-size: 1.2em;
  text-align: center;
}
body > main > .introduce > .left > .left_bg > .profile > ul.q > li:last-child {
  padding-top: 3em;
}
body > main > .introduce > .left > .left_bg > .profile > ul.a {
  width: 61%;
}
body > main > .introduce > .left > .left_bg > .profile > ul.a > li {
  margin: 5px;
}
body > main > .introduce > .left > .left_bg > .profile > ul.a > li > p {
  padding: 5px;
  font-size: 1.2em;
}
body > main > .introduce > .left > .left_bg > .profile > ul.a > li:nth-of-type(4) > p {
  white-space: pre-line;
  line-height: 1.3;
}
body > main > .introduce > .left > .left_bg > .profile > ul.a > li:nth-of-type(5) > p {
  white-space: pre-line;
  line-height: 1.3;
}
body > main > .introduce > .left > .left_bg > .marq {
  overflow: hidden;
  width: 50%;
  margin: 10px auto 30px;
  height: 150px;
}
body > main > .introduce > .left > .left_bg > .marq > p {
  text-align: left;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 10px auto 30px;
  white-space: pre-line;
  font-size: 40px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
  animation: right 0.8s forwards ease-in-out;
}
body > main > .introduce > .right {
  margin: 80px auto;
  width: 70%;
  text-align: center;
}
body > main > .introduce > .right > .tit {
  width: 35%;
  margin: 0px 0px 50px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  vertical-align: center;
  align-items: center;
}
body > main > .introduce > .right > .tit > .title {
  text-align: right;
  width: 80%;
  margin: 10px auto;
  font-size: 25px;
}
body > main > .introduce > .right > .tit > svg {
  padding-top: 5px;
  width: 20%;
}
body > main > .introduce > .right > .ex {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}
body > main > .introduce > .right > .ex > div {
  width: 50%;
  height: 230px;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  opacity: 0;
  animation: appear 0.5s forwards ease-in-out;
  transition: 0.5s;
}
body > main > .introduce > .right > .ex > div > img.icon {
  width: 12%;
  position: absolute;
  left: 28%;
  top: -5%;
  z-index: 104;
}
body > main > .introduce > .right > .ex > div > img.box {
  width: 70%;
  position: absolute;
  left: 15%;
  top: 5%;
  z-index: 103;
}
body > main > .introduce > .right > .ex > div > .text {
  width: 80%;
  height: 180px;
  position: absolute;
  left: 10%;
  top: 12%;
  z-index: 104;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body > main > .introduce > .right > .ex > div > .text > b {
  font-size: 1.3em;
  font-weight: bold;
}
body > main > .introduce > .right > .ex > div > .text > p {
  padding-top: 10px;
  font-size: 1em;
  line-height: 1.3;
}
body > main > .introduce > .right > .ex > div > .hover {
  position: absolute;
  left: 100%;
  top: 5%;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 30px;
  background-color: rgb(255, 236, 136);
  z-index: 105;
  display: none;
  opacity: 0;
}
body > main > .introduce > .right > .ex > div > .hover.active {
  animation: up 0.3s forwards ease-in-out;
  display: inline-block;
  opacity: 100%;
}
body > main > .introduce > .right > .ex > div > .hover.active > ul {
  width: 100%;
  height: 80%;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  vertical-align: center;
  align-items: center;
  list-style-type: none;
}
body > main > .introduce > .right > .ex > div > .hover.active > ul > li {
  font-size: 1em;
  margin-top: 10px;
  color: rgb(56, 56, 56);
}
body > main > .introduce > .right > .ex > div.one > img.icon {
  width: 10%;
  padding-right: 3px;
}
body > main > .introduce > .right > .ex > div.two {
  animation-delay: 0.2s;
}
body > main > .introduce > .right > .ex > div.two > img.icon {
  width: 10%;
  padding-right: 4px;
}
body > main > .introduce > .right > .ex > div.three {
  animation-delay: 0.4s;
}
body > main > .introduce > .right > .ex > div.three > img.icon {
  width: 11%;
  margin-right: 5px;
}
body > main > .introduce > .right > .ex > div.four {
  animation-delay: 0.6s;
}
body > main > .introduce > .right > .ex > div.four > img.icon {
  width: 10%;
  margin-right: 5px;
}
body > main > .introduce > a {
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  position: fixed;
  bottom: 10%;
  right: 8%;
  z-index: 300;
  transition: 0.5s;
}
body > main > .introduce > a:hover {
  color: white;
  background-color: #3d2486;
  opacity: 70%;
}/*# sourceMappingURL=profile.css.map */